<!DOCTYPE html>
<html>
<head>
  <title>Brad's Photo Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image: url('<%= image_path 'bg2.png' %>');">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9 box">
        <%= yield %>
      </div>
      <div class="span3 box">
        <ul id="navlist" class="nav nav-list">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Access Codes", code_index_path %></li>
          <% if @collections.count > 0 %>
          <li class="nav-header">Collections</li>
          <% @collections.each do |collection| %>
            <li><%= link_to collection.name, collection %></li>
          <% end %>
        <% else %>
          <li><p id="sadNav">You don't have access to any collections.</p></li>
        <% end %>
        <% if session[:codes].include?(SUPER_SECRET_CODE) %>
          <li><%= link_to "Manage Collections", collections_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
